autom4te.cache
*.*~

# make artifacts
*.o
.dirstamp
file2c
gdash

# configure script artifacts
Makefile
caves/Makefile
config.h
config.log
config.status
docs/Makefile
include/.deps/
include/Makefile
music/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
shaders/Makefile
sound/Makefile
src/.deps/
src/Makefile
src/cave/.deps/
src/cave/helper/.deps/
src/cave/object/.deps/
src/editor/.deps/
src/fileops/.deps/
src/framework/.deps/
src/gfx/.deps/
src/gtk/.deps/
src/input/.deps/
src/misc/.deps/
src/sdl/.deps/
src/sound/.deps/
stamp-h1
